.fade-enter {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
  transition: opacity 1s ease-out;
}

.fade-exit-active {
  opacity: 0;
}


.hidden23 {
  opacity: 0;
  /* Inicialmente oculto */
  visibility: hidden;
  /* No ocupa espacio en el diseño */
}

.show23 {
  animation: showDiv 1s ease-in-out 2s forwards;
  /* 1s de retardo antes de iniciar la animación de 1s */
}

@keyframes showDiv {
  from {
    opacity: 0;
    visibility: hidden;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}