@keyframes keyItems {
    from {
        color: #FFFFFF;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    }

    to {
        color: black;
        text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    }
}

@keyframes keyNav {
    from {
        background-color: #ffffff00;
        padding-bottom: 1rem;
    }

    to {
        color: rgb(255, 255, 255);
        padding-bottom: 0;
    }
}

@keyframes keySelect {
    from {
        border: none;
    }

    to {
        border-color: rgb(56 106 163);
    }
}

/* Animación para móvil */
@keyframes keyLogoMobile {
    from {
        height: calc(15vw*2);
        width: calc((23.317vw)*2);
        padding: calc(1vw*2);
        background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(56, 106, 163, 1) 40%);
    }

    to {
        height: calc(7vw * 2);
        width: calc(14.317vw * 2);
        padding: 0vw;
        background-color: rgb(255, 255, 255);
    }
}

@keyframes keyLogoSVGMobile {
    from {
        top: calc(1vw*2);
        width: calc((18.238vw - 1vw)*2);
        height: auto;
        fill: #FFFFFF;
    }

    to {
        top: (1.2vw * 2);
        left: 15%;
        width: 20vw;
        height: auto;
        fill: rgba(56, 106, 163, 1);
    }
}

/* Animación para escritorio */
@keyframes keyLogoDesktop {
    from {
        height: 15vw;
        width: calc(24.317vw - 1vw);
        padding: 1vw;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(56, 106, 163, 1) 40%);
    }

    to {
        height: 7vw;
        width: calc(14.317vw);
        padding: 0.5vw;
        background-color: rgb(255, 255, 255);
    }
}

@keyframes keyLogoSVGDesktop {
    from {
        top: 1vw;
        left: 3vw;
        width: calc(18.238vw - 1vw);
        height: auto;
        fill: #FFFFFF;
    }

    to {
        top: 1.2vw;
        left: 10%;
        width: 10vw;
        height: auto;
        fill: rgba(56, 106, 163, 1);
    }
}

/* Aplicar animación para móvil por defecto */
.logo {
    display: flex;
    position: relative;
    height: calc(7vw * 2);
    width: calc(14.317vw * 2);
    padding: 0vw;
    align-items: center;
    top: 0;
    background-color: rgb(255, 255, 255);
    animation: keyLogoMobile 3s ease-in-out;
}

.logoSVG {
    position: absolute;
    top: calc(1.2vw*2);
    left: 15%;
    width: calc(10vw*2);
    height: auto;
    fill: rgba(56, 106, 163, 1);
    animation: keyLogoSVGMobile 3s ease-in-out;
}

/* Cambiar a la animación de escritorio en pantallas grandes */
@media (min-width: 640px) {


    .logo {
        height: 14vh;
        width: calc(14.317vw);
        padding: .5vw;
        animation: keyLogoDesktop 3s ease-in-out;
    }

    .logoSVG {
        top: 1.2vw;
        left: 10%;
        width: 10vw;
        height: auto;
        animation: keyLogoSVGDesktop 3s ease-in-out;
    }

}

.items {
    color: #000000;
    animation: keyItems;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.nav {
    background-color: #FFFFFF;
    padding-bottom: 0;
    animation: keyNav;
}

.buttonReservas {
    border: 1px solid #FFFFFF;

    &:hover {
        border: 1px solid rgba(56, 106, 163, 1);
    }
}

.select {
    border-color: rgb(56 106 163);
    animation: keySelect;
}



.logo,
.logoSVG,
.items,
.nav {
    animation-timeline: scroll();
    animation-range: 0 150px;
}